* {
	font-family: Montserrat;
}
body {
	background-color: #8650ee;
}
#todo-body {
	max-width: 500px;
	margin: auto;
}
#main-heading {
	text-align: center;
	color: white;
}
#input-block {
	display: flex;
	border: 5px solid #f7f7f84a;
}
#todo-input {
	flex-grow: 3;
	padding: 10px;
	border: none;
}
#add-todo-btn {
	flex-grow: 1;
	padding: 15px 10px;
	background-color: #6bb4f2;
	border: none;
	color: white;
	cursor: pointer;
}
#add-todo-btn:hover {
	background-color: #418fd3;
}
#todos {
	margin-top: 25px;
	border: 5px solid #f7f7f84a;
}
.todo {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: white;
	padding: 1rem;
	border-bottom: 0.5px solid #c3c3c3;
}
.todo-text {
	width: 100%;
	padding: 0rem 2rem;
	margin: 0;
	color: #4a4a4a;
}
.delete-icon {
	color: #4a4a4a;
	padding: 10px;
	border-radius: 30px;
	cursor: pointer;
}
.delete-icon:hover {
	background-color: #a3a3a3;
}
